/*
FoxPaw Entertainment proprietary code.
*/

/* 
 *  VoxBox black #191919            rgb(25,25,25)
 *  VoxBox grey #8C8C8C
 *  VoxBox yellow #FFB100           rgb(255,177,0)
 *  VoxBox darkyellow #402C00       rgb(64,44,0)
 *  VoxBox pink #FF0069             rgb(255,0,105)
 *  VoxBox darkpink #40001A         rgb(64,0,26)
 *  VoxBox lightblue #005AA1 
 *  VoxBox darkblue #003C6C
 *  VoxBox darkestgreen #001E00
 *  VoxBox darkred #990000
 */

body{
    color: white;
    background-color: #191919;
    background: radial-gradient(ellipse at 50% 55%, rgba(25,25,25,1) 86%,rgba(255,0,105,1) 100%);
}

.loginboxinactive{
    border-color: #FF0069;
    background-color: #40001A;
}

.loginboxactive{
    border-color: #FFB100;
    background-color: #402C00;
}

.loginputinactive{
    background-color: #191919;
    color: white;
}

.loginputinactive:hover{
    background-color: #003C6C;
}

.loginputactive{
    background-color: white;
    color: #191919;
}

.loginbutton{
    color: white;
}

.loginbutton:hover{
    background-color: #990000;
}

.loginbuttoninactive{
    background-color: #FF0069;
}

.loginbuttonactive{
    background-color: #FFB100;
}

.navbar{
    background: linear-gradient(to right, rgba(25,25,25,1), rgba(25,25,25,0) 10%, rgba(25,25,25,0) 90%, rgba(25,25,25,1));
    border-style: solid;
}

.navbarinactive{
    background-color: #40001A;
    border-color: #FF0069;
}

.navbaractive{
    background-color: #402C00;
    border-color: #FFB100;
}

.navbar h2, .navbar h3{
    color: white;
}

.navbarheader:hover{
    background-color: #FF0069;
}

.navbarheaderinactive{
    background-color: rgba(255,0,105,0);
}

.navbarheaderactive{
    background-color: #FFB100 !important;
}

.navbarsubinactive{
    background-color: #FF0069;
}

.navbarsubactive{
    background-color: #FFB100;
}

.voxpaw{
    /*background: linear-gradient(to bottom, rgba(25,25,25,1), rgba(25,25,25,0));
    background-color: #FF0069;*/
}

@-webkit-keyframes voxboxcolorswitch {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes voxboxslowcolorswitch {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes voxboxslowcolorswitch {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes voxboxslowcolorswitch { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}