/**
* COLOR SCHEME
* Background:   #191919
* Detail:       #005AA1
* Main:         #003C6C
* Text:         white
**/

html{
    height: 100%;
}

body{
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    margin: 0;
    min-width: 1200px;
    background-color: #191919;  /* Background */
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited{
    color: white;               /* Text */
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

button:focus{
    outline: 0;
}

.veryfasttransition{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.fasttransition{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.transition{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.slowtransition{
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.veryslowtransition{
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

.bold{
    font-weight: bold;
}

.nowhitespaceafter{
    margin-bottom: 0px !important;
}

.indent{
    margin-left: 40px !important;
}

.rightindent{
    margin-right: 40px !important;
}

.smaller{
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.todo{
    color: red;
    background-color: yellow;
}

.koboldadventure{
    position: absolute;
    width: 1200px;
    height: 800px;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 50%;
    margin-top: -400px;
    background-color: #005AA1;  /* Detail */
    color: white;               /* Text */
}

.koboldadventureleftbar{
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.koboldadventurelogopanel{
    width: 300px;
    height: 100px;
}

.koboldadventurelogo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.koboldadventurelogotext{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 100px;
    text-align: center;
    font-size: 40px;
}

.koboldadventuretabpanel{
    width: 300px;
    height: 480px;
    margin-top: 50px;
    text-align: center;
}

.koboldadventuretab{
    width: 200px;
    height: 64px;
    margin-bottom: 15px;
    border: 0px;
    font-size: 30px;
    color: white;               /* Text */
    border-radius: 9px 60px 10px 30px;
    background-color: #003C6C;  /* Main */
}

.koboldadventuretab:hover{
    border-width: 4px 0px 3px 0px;
    border-color: white;
    border-style: solid;
}

.koboldadventuretabactive{
    border-width: 4px 0px 3px 0px;
    border-color: white;
    border-style: solid;
    background-color: #005AA1;  /* Detail */
}

.koboldadventurebuttonpanel{
    width: 300px;
    height: 120px;
    margin-top: 5px;
    text-align: center;
}

.koboldadventureuibutton{
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #003C6C;  /* Main */
    color: white;               /* Text */
    border: 0px;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
}

.koboldadventureuibutton:hover{
    border-width: 2px; 
    border-color: #191919;      /* Background */
    border-style: solid;
}

.koboldadventureuibutton:active{
    background-color: #191919;  /* Background */
}

.koboldadventuredisclaimer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 5px; 
}

.koboldadventuredisclaimertext{
    font-size: 12px;
}

.koboldadventureinvisibledisclaimer{
    display: none;
}

.koboldadventuremain{
    position: absolute;
    width: 900px;
    height: 800px;
    left: 300px;
    top: 0px;
    background-color: #003C6C;  /* Main */
    color: white;               /* Text */
    overflow-y: auto;
}

.koboldadventuremain::-webkit-scrollbar{
    width: 8px;
}

.koboldadventuremain::-webkit-scrollbar-track{
    background-color: transparent;
}

.koboldadventuremain::-webkit-scrollbar-thumb{
    background-color: #005AA1;  /* Detail */
}

.koboldadventurecontent{
    position: absolute;
    width: 800px;
    height: 700px;
    top: 50px;
    left: 50px;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

.koboldadventuretitle{
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.koboldadventuresubtitle{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.koboldadventuresubsubtitle{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.koboldadventuresubsubsubtitle{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.koboldadventuretext{
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
}

.koboldadventurebigbutton{
    border-radius: 5px;
    border: 0px;
    padding: 20px;
    background-color: #191919;  /* Background */
    color: white;               /* Text */
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    font-size: 32px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
}

.koboldadventurebigbutton:hover{
    padding: 30px;
    margin-top: 30px;
}

.koboldadventurebigbutton:active{
    background-color: #005AA1;  /* Detail */
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.koboldadventuresummation{

}

.koboldadventuresmallseparator{
    border: 0px;
    background-color: #005AA1;  /* Detail */
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.koboldadventurefinish{
    height: 50px;
    width: 700px;
}

.koboldadventurestorage{
    display: none;
}