/*
FoxPaw Entertainment proprietary code.
*/

html{
    height: 100%;
}

body{
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    margin: 0;
    min-width: 1200px;
    background-color: #191919;
}

a{
    text-decoration: none;
}

p, h1{
    margin: 0px;
}

button:focus{
    outline: 0;
}

.fasttransition{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.transition{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slowtransition{
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}


.koboldadventure{
    width: 1200px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    background-color: #005AA1;
    position: relative;
    color: white;
}

.koboldadventureleftbar{
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.koboldadventuretitlepanel{
    width: 300px;
    height: 100px;
}

.koboldadventurelogo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.koboldadventuretitle{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 100px;
    text-align: center;
    font-size: 40px;
}

.koboldadventuretabpanel{
    width: 300px;
    height: 480px;
    margin-top: 50px;
    text-align: center;
}

.koboldadventuretab{
    width: 200px;
    height: 64px;
    margin-bottom: 15px;
    border: 0px;
    font-size: 30px;
    color: white;
    border-radius: 9px 60px 10px 30px;
    background-color: #003C6C;
}

.koboldadventuretab:hover{
    border-width: 4px 0px 3px 0px;
    border-color: white;
    border-style: solid;
}

.koboldadventuretabactive{
    border-width: 4px 0px 3px 0px;
    border-color: white;
    border-style: solid;
    background-color: #005AA1;
}

.koboldadventurebuttonpanel{
    width: 300px;
    height: 120px;
    margin-top: 5px;
    text-align: center;
}

.koboldadventurebutton{
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #003C6C;
    color: white;
    border: 0px;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
}

.koboldadventurebutton:hover{
    border: 2px #191919 solid;
}

.koboldadventurebutton:active{
    background-color: #191919;
}

.koboldadventuredisclaimer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 5px; 
}

.koboldadventuredisclaimertext{
    font-size: 12px;
}

.koboldadventureinvisibledisclaimer{
    display: none;
}

.koboldadventuremain{
    position: absolute;
    width: 900px;
    height: 800px;
    left: 300px;
    top: 0px;
    background-color: #003C6C;
    color: white;
    overflow-y: auto;
}

.koboldadventuremain::-webkit-scrollbar{
    width: 8px;
}

.koboldadventuremain::-webkit-scrollbar-track{
    background-color: transparent;
}

.koboldadventuremain::-webkit-scrollbar-thumb{
    background-color: #005AA1;
}

.koboldadventurecontent{
    position: absolute;
    width: 800px;
    height: 700px;
    top: 50px;
    left: 50px;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

.koboldadventuretextarea{
    text-align: justify;
}

.koboldadventurefinish{
    height: 50px;
    width: 700px;
}