/**
* This file contains the Forest theme for Kobold Adventure.
**/

/**
* COLOR SCHEME
* Background:   #3B5323     rgb(59, 83, 35)
* Detail:       #008B00     rgb(0, 139, 0)
* Main:         #5E2612     rgb(94, 38, 18)
* Text:         white       rgb(255, 255, 255)
* Rare:         #FCD116     rgb(252, 209, 22)
**/

a:link, a:visited{
    color: white;               /* Text */
}

.koboldadventureforest{
    background-color: #3B5323;  /* Background */
}

.koboldadventureforest .koboldadventure{
    background-color: #008B00;  /* Detail */
    color: white;               /* Text */
}

.koboldadventureforest .koboldadventuretab{
    background-color: #5E2612;  /* Main */
    color: white;               /* Text */
}

.koboldadventureforest .koboldadventuretabactive{
    background-color: #008B00;  /* Detail */
}

.koboldadventureforest .koboldadventureuibutton{
    background-color: #5E2612;  /* Main */
    color: white;               /* Text */
}

.koboldadventureforest .koboldadventureuibutton:hover{
    border-color: #3B5323;      /* Background */
}

.koboldadventureforest .koboldadventureuibutton:active{
    background-color: #3B5323;  /* Background */
}

.koboldadventureforest .koboldadventuremain{
    background-color: #5E2612;  /* Main */
    color: white;               /* Text */
}

.koboldadventureforest .koboldadventuremain::-webkit-scrollbar-thumb{
    background-color: #008B00;  /* Detail */
}

.koboldadventureforest .koboldadventurebutton{
    background-color: #008B00;  /* Detail */
    border-color: #5E2612;      /* Main */
    color: white;               /* Text */
}

.koboldadventureforest .koboldadventurebutton:hover{
    border-color: #3B5323;      /* Background */   
}

.koboldadventureforest .koboldadventurebutton:active{
    background-color: #3B5323;  /* Background */   
}

.koboldadventureforest .koboldadventurebutton:disabled{
    background-color: #3B5323;  /* Background */   
    border-color: #5E2612;      /* Main */
}

.koboldadventureforest .koboldadventurebigbutton{
    background-color: #3B5323;  /* Background */
}

.koboldadventureforest .koboldadventureselectedoption{
    border-color: #FCD116 !important;      /* Rare */
}

.koboldadventureforest .koboldadventuredualchoiceseparator{
    background-color: white;    /* Text */
}

.koboldadventureforest .koboldadventuresmallseparator{
    background-color: #008B00;  /* Detail */
}

.koboldadventureforest .koboldadventuresaveslotempty{
    background-color: #3B5323;  /* Background */
}

.koboldadventureforest .koboldadventuresaveslotfilled{
    background-color: #3B5323;  /* Background */
}

.koboldadventureforest .koboldadventuresaveslotfilled:hover{
    background-color: #008B00;  /* Detail */
}

.koboldadventureforest .koboldadventuresaveslotfield{
    color: white;               /* Text */
}
.koboldadventureforest .koboldadventuresaveslotdivider{
    background-color: white;    /* Text */
}

.koboldadventureforest .koboldadventuresaveslotcommentinput{
    background-color: #5E2612;  /* Main */
}

.koboldadventureforest .koboldadventuretextinput:disabled{
    color: white;               /* Text */
    background-color: #3B5323;  /* Background */ 
}

.koboldadventureforest .koboldadventureshorttextinput:disabled{
    color: white;               /* Text */
    background-color: #3B5323;  /* Background */ 
}